:root {
	--eskogreen:#A6C044;
	--eskogray:#444B53;
}

html * {
    color: var(--eskogray);
}

body {
	margin: 0;
	padding: 0;
    background-color: #DFDFDF;
    color: var(--eskogray);
}

#about {
	position: absolute;
	top: 0;
	bottom: 0;
	left:0;
	right:0;
	margin: auto;
	width: 100%;

	text-align: center;
}
.unselectable {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
} 
