:root {
	--eskogreen:#A6C044;
	--eskogray:#444B53;
	--sectionDelay:500ms;
	--sidebarWidth : 48px;
}

@font-face {
    font-family: "WCRIcons";
    src: url("WCRIcons.woff") format("woff");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

.clickable {
	cursor: pointer;
}

.mp_wcricon {
	font-family: "WCRIcons", "Roboto";
}

@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("Roboto-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

html * {
    color: var(--eskogray);
}

html body {
	margin : 0;
	padding :0;
    background-color: #FFFFFF;
    font-family: "Roboto";
}

#mp_sidebar {
	background-color: #ECECEC;
	position: absolute;
	height: 100%;
	width: var(--sidebarWidth);
	text-align: center;
}

.mp_sidebarIcon {
	width: var(--sidebarWidth);
	height: var(--sidebarWidth);
	line-height: var(--sidebarWidth);
	vertical-align: middle;
}

.mp_sidebarIconSelected {
	background-color: #636e77;
	color: #ffffff;
}

#mp_content {
	margin-left: var(--sidebarWidth);
}

#mp_content_header {
	position:relative; /* so that progress bar aboslute docks to me*/
	background-color: #F5F5F5;
	width: 100%;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
}

#mp_progressContainer
{
	position: absolute;
	display : none;
	width : 100%;
	top: 0px;
}

.mp_meter { 
    height: 5px;
    position: relative;
}

#mp_content_icon {
	margin-left: 12px;
}

#mp_content_body {
	margin: 10px;
}

.colorPatch {
	border-radius: 2px;
}

#mp_dropzone {
	font-size : 1.2em;
	border: 1px dashed grey;
	border-radius: 8px;
	background-color: #FDFDFD;
	width: 50%;
	height: 72px;
	line-height: 72px;
	text-align: center;
	vertical-align: middle;
	margin: 5px 0px;
}

#mp_dropzone span {
	vertical-align: middle;
}

#mp_dropzone #previewImage {
	width: 64px;
	height: 64px;
	display: none;
    box-shadow: 0px 0px 4px #7f7f7f;
	object-fit : contain;
	animation: sectionAppear 2s ease-in-out 0s;
    animation-fill-mode:both; 
}

.mp_section {
	padding: 0 0 .5em 0;
}

.mp_header {
	background-color: #CFCFCF;
	border-radius: 4px;
	width: 50%;	
	height: 1.5em;
	line-height: 1.5em;
	vertical-align: middle;
}

#mp_inks_wrapper {
	display: grid;
	grid-template-columns: 20px 200px 100px 80px auto;
}

#mp_docinfo_wrapper {
	display: grid;
	grid-template-columns: 160px 480px auto;
}

#mp_images_wrapper {
	display: grid;
	grid-template-columns: 100px 120px 100px 120px auto;
}

#mp_barcodes_wrapper {
	display: grid;
	grid-template-columns: 150px 200px auto;
}

#mp_fonts_wrapper {
	display: grid;
	grid-template-columns: 320px auto;
}

#mp_layers_wrapper {
	display: grid;
	grid-template-columns: 320px 120px 120px auto;
}

#mp_docinfo {
	opacity: 0%;
	animation: sectionAppear var(--sectionDelay) ease-in-out 0s;
    animation-fill-mode:both; 
}

#mp_inks {
	opacity: 0%;
	animation: sectionAppear var(--sectionDelay) ease-in-out .25s;
    animation-fill-mode:both; 
}

#mp_images {
	opacity: 0%;
	animation: sectionAppear var(--sectionDelay) ease-in-out .5s;
    animation-fill-mode:both; 
}

#mp_barcodes {
	animation: sectionAppear var(--sectionDelay) ease-in-out .75s;
    animation-fill-mode:both; 
}

#mp_fonts {
	animation: sectionAppear var(--sectionDelay) ease-in-out 1s;
    animation-fill-mode:both; 
}

#mp_layers {
	animation: sectionAppear var(--sectionDelay) ease-in-out 1.25s;
    animation-fill-mode:both; 
}

@keyframes sectionAppear
{
	0% { opacity: 0%}
	100% { opacity: 100%}
}

/* banner */
#mp_banner {
	height: 48px;
	line-height: 48px;
	background-color : var(--eskogray);
	width: 97%;
	padding: 0px 20px;
}

#mp_banner > span {
	vertical-align: middle;
	height: 100%;
}

.mp_banner_text {
	vertical-align: middle;
	color: white;
}

#avatar {
	width: 36px;
	height: 36px;
}

#eskoID {
	font-size: 0.75em;
}

#mp_bannerRight {
	float:right;
}

#previewDialog {
	border: 0px;
}
#largePreview {
	width: 512px;
	height: 512px;
	display: none;
    box-shadow: 0px 0px 4px #7f7f7f;
	object-fit : contain;
	animation: sectionAppear 2s ease-in-out 0s;
    animation-fill-mode:both; 
}
