:root {
	--eskogreen:#A6C044;
	--eskogray:#444B53;
}

@font-face {
    font-family: "NovaMono";
    src: url("NovaMono-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Nunito";
    src: url("Nunito-Regular.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

html * {
    font-family: "Nunito";
    color: var(--eskogray);
}

body {
	margin: 0;
	padding: 0;
    background-color: #DFDFDF;
    font-family: "Nunito";
}

#banner {
    color: #BBBE19;
}

#footer {
	font-size: 0.8em;
	position: fixed:
	left: 0;
	padding: 2px;
	bottom: 0;
	width: 100%;
	background-color: #bfbfbf;
	text-align: center;
	border-radius: 2px;
}

@media (min-width: 768px) {
    .form-group.row>.col-form-label {
        text-align: right;
    }
}

#dropzone {
	font-size : 1em;
	border: 2px dashed grey;
	width:  240;
	height: 32px;
	text-align: center;
	border-radius: 4px;
	display: inline-block;
	cursor: pointer;
}

#dropzoneInlineHelper {
	height : 100%;
	display: inline-block;	
	vertical-align: middle;
}

#dropzoneIcon {
	opacity: 0.7;
	vertical-align: middle;
	display: inline-block;
	font-size: 24px !important;
}

.wrapper {
    display: inline-block;
    position: relative;
}

.hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.7);
}

.toolbar {
	margin-top: 1em;
	text-align: center;
	vertical-align: middle;
}

.toolspan {
	vertical-align: middle;
	height:100%
	margin: 0px 5px;
}

#document {
	margin-bottom: 1em;
	text-align: center;
}

.panel {
}

.panelRow {
	margin: 0.25em 0em;
	font-size: 0.75em;
}

.indexRow {
	text-align: center;
}

.objectIndex {
	width: 36px;
}

#spinnerDialog {
	border: 0px;
	margin-top: 220px;
	background-color: transparent;
}

#scenarioParent {
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
	margin: 100px;
}

.clickable {
	cursor: pointer;
}
.scenarioRow {
	margin: 20px 0px;
	text-align: center;
}
.scenario {
    box-shadow: 0px 0px 10px var(--eskogray);
	border-radius: 10px;
	width: 160px;
	height: 160px;
	object-fit:cover;
}
#canvas {
    box-shadow: 0px 0px 20px var(--eskogray);
}

#xmpText {
	font-family: NovaMono, monospace;
	font-size: .75em;
}
#documentTitle {
	font-size: .75em;
	display: inline-block;
	padding: 5px;
}

#xmpText {
	width: 100%;
}

#currentText {
	width: 100%;
}

#fontSize {
	width: 64px;
}

#fontNameRow {
	
	vertical-align: middle;
}

#fontReady {
	font-size: 12px;
	vertical-align:middle;
	color: #54B138;
	display: none;
	cursor: pointer;
}

#missingFont {
	font-size: 12px;
	vertical-align:middle;
	color: #EAA13A;
	display: none;
	cursor: pointer;
}

/* img
#missingFont {
	width: 12px;
	height: 12px;
	display: none;
	cursor: pointer;
 }
*/

#activateFont {
	width: 12px;
	height: 12px;
	display: none;
	vertical-align: middle;
	cursor: pointer;
}

#fixReflow {
	width: 12px;
	height: 12px;
	display : none;
}

#lowResolution {
	width: 12px;
	height: 12px;
	display: inline-block;
	cursor: pointer;
	/*display none;*/
}

#rgbColorSpace {
	width: 12px;
	height: 12px;
	display: inline-block;
	cursor: pointer;
	/*display none;*/
}

#fontList_wrapper {
	display: grid;
	grid-template-columns: 250px 70px auto;
}


/* jquery UI */
.ui-dialog .ui-dialog-titlebar {
	background: #cfcfcf !important
}
.ui-dialog {
	background: #efefef !important
}

.ui-dialog
{
	padding: 0px;
}

.ui-dialog .ui-dialog-titlebar 
{
	font-size: 0.7em;
    height: 14px; /* or whatever you want */
}

.ui-dialog-content {
	 padding: 5px !important;
}

